*{
    border: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
}
body{
    background: url("../img/bg.jpg");
}
#main_container{
    padding: 0;
    margin: 0 auto;
    width: 900px;
    position: relative;
}

#main_container h1{
    text-align: center;
    clear: both;
}

#product_list{
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 780px;
}

#product_list .clear{
    clear: both;
}

#product_list .product_item{
    display: inline-block;
    float: left;
    width: 240px;
    margin: 0px 10px 25px;
}

.product_item .desc_panels{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.product_item .desc_panels li{
    padding-bottom: 10px;
}

.product_item .product_img{
    width: 240px;
    height: 240px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;

}

.product_item .desc_panels .product_name{
    width: 100%;
    display: block;
    font-size: 20px;
}

.product_item .desc_panels .product_desc{
    width: 100%;
    display: block;
    font-size: 14px;
}

.product_item .desc_panels .product_price{
    height: 40px;
    padding-right: 10px;
    display: block;
    font-size: 20px;
    float: left;
}

.product_item .desc_panels .product_plus{
    width: 80px;
    height: 40px;
    display: block;
    float: left;
    line-height: 25px;
    padding-right: 10px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.product_item .desc_panels .product_minus{
    width: 40px;
    height: 40px;
    display: block;
    float: left;
}
#shopping_cart_container .bg{
    opacity: 0.95;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;
    z-index: -1;
}
#shopping_cart_container{
    position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    font-size: 14px;
    color: #000;
    z-index: 100;
    border: 2px solid #cccccc;
    top: 100px;
    display: none;
}

.basket_mini_block{
    height: 100px;
    line-height: 100px;
    float: left;
    margin-left: 10px;
    position: relative;
}

.basket_mini{
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.basket_mini_item{
    display: block;
    height: 100px;
    margin-bottom: 7px;
    padding: 10px;

}

.basket_mini_item .basket_mini_image{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    float: left;
    display: block;
}

.itog_block{
    text-align: right;
    padding: 0px 30px 10px 0px;
}

.btn_plus{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../img/inputs.png);
    position: absolute;
    top: 12px;
    left: -6px;

}

.btn_minus{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    background: url(../img/inputs.png) -22px 0px;
    bottom: 12px;
    left: -6px;
}

.btn_del{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    background: url(../img/inputs.png) 20px 0px;
    top: 40px;
    right: -30px;
}

.center_text{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

.basket{
    background: url("../img/basket_h.png") no-repeat ;
    width: 200px;
    height: 60px;
    cursor: pointer;
    padding-left: 70px;
    float: right;
    margin: 15px;
    line-height: 60px;
    text-decoration: underline;
}

.close{
    position: absolute;
    right: 10px;
    top: 5px;
    color: #000;
    z-index: 130;
}