<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test Shopping Cart</title>
    <link href="css/styles.css"  rel="stylesheet"/>
</head>
<body>
    <div id="main_container">
        <div id="shopping_cart_container"></div>
        <div id="shopping_cart_info"></div>
        <h1>Роллы</h1>
        <ul id="product_list"></ul>
    </div>

</body>
<script id="productTemplate" type="text/template">
    <img class="product_img" src="<%= image %>" alt="product_img"/>
    <ul class="desc_panels">
        <li class="product_name"><%= name %></li>
        <li class="product_desc"><%= description %></li>
        <li class="product_price"><%= price %> руб.</li>
        <li class="product_plus">В корзину</li>
    </ul>
    <div class="clear"></div>
</script>

<script id="shoppingcartTextTemplate" type="text/template">
    <div class="basket">
        <% if(total_count){%>
            <%= total_count %>шт. на <%= total_price %>руб.
        <%}else{%>
                Ваша корзина пуста
        <%}%>
    </div>
</script>

<script id="shoppingcartTemplate" type="text/template">
    <div class="bg"></div>
    <a href="#" class="close">Закрыть</a>
    <ul class="basket_mini">

    </ul>
</script>

<script id="shoppingcartItogTemplate" type="text/template">
    <% if(total_count){%>
    <li class="itog_block">Итого: <%= total_price %> руб.</li>
    <%}else{%>
        <li class="basket_mini_item">
            <div class="basket_mini_block center_text">
                Ваша корзина пуста
            </div>
        </li>
    <%}%>
</script>

<script id="shoppingcartItemTemplate" type="text/template">
        <li class="basket_mini_item">
            <img class="basket_mini_image" src="<%= product.get('image') %>"  />
            <div class="basket_mini_block basket_mini_name">
                <%= product.get('name') %>
            </div>
            <div class="basket_mini_block basket_mini_price">
                <%= product.get('price') %>руб.
            </div>
            <div class="basket_mini_block">
                Х
                <span class="btn btn_plus"></span>
                <span class="btn btn_minus"></span>
            </div>
            <div class="basket_mini_block basket_mini_count">
                <%= count %>руб.
            </div>
            <div class="basket_mini_block">=</div>
            <div class="basket_mini_block basket_mini_cost">
                <%= total_cost %>руб.
                <span class="btn btn_del"></span>
            </div>
        </li>
</script>

<script type="application/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="application/javascript" src="js/underscore-min.js"></script>
<script type="application/javascript" src="js/backbone-min.js"></script>
<script type="application/javascript" src="js/jquery.cookie.js"></script>

<script type="application/javascript" src="app/models/ProductModel.js"></script>
<script type="application/javascript" src="app/models/ShoppingCartItemModel.js"></script>

<script type="application/javascript" src="app/collections/ShoppingCartItemsCollection.js"></script>
<script type="application/javascript" src="app/models/ShoppingCartModel.js"></script>

<script type="application/javascript" src="app/collections/ProductsCollection.js"></script>

<script type="application/javascript" src="app/views/ProductsView.js"></script>
<script type="application/javascript" src="app/views/ProductView.js"></script>
<script type="application/javascript" src="app/views/ShoppingCartItemView.js"></script>
<script type="application/javascript" src="app/views/ShoppingCartView.js"></script>
<script type="application/javascript" src="app/views/ShoppingCartInfoView.js"></script>

<script type="application/javascript" src="js/app.js"></script>
</html>